/*---Footer styles*/

footer {
  background-color: #212121;
  color: #fff;
  padding: 50px 20px;
  font-weight: 600;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  height: 50px;
}

footer .footer-nav ul {
  display: flex;
  gap: 20px;
}

footer .footer-nav a {
  color: #ffffff;
  padding: 5px;
  transition: text-decoration 0.3s ease;
}

footer .footer-nav a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer-social a {
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.footer-social a:hover {
  color: #212121;
  background-color: #fff;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

/*--- Responsividade do Footer ---*/

@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
    text-align: center;
  }

  footer .footer-nav ul {
    flex-direction: column;
    gap: 15px;
  }

  .footer-social {
    margin-top: 20px;
  }
}
